.container {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.text {
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: black;

}
.products {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; */
  gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-items: center;
    width: 100%;
 
}
