.info_block {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 30px;
}
.contact_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
  width: 60%;
}
.contact {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.number {
  font-size: 22px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.links_block {
  display: flex;

  align-items: center;
  gap: 30px;
  padding-left: 10px;
}
.icon {
  width: 40px;
  height: 40px;
}
.address_block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 10px;
}
.address {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.street {
  font-size: 22px;
  font-weight: 100;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.hours {
  font-size: 18px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.day {
  font-size: 22px;
  font-weight: 300;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.div_phone {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  color:black;
  text-decoration:none
}
.icon {
  font-size: 22px;
}

@media (max-width: 768px) {
  .contact {
    font-size: 18px;
  }
  .number {
    font-size: 16px;
  }
  .icon{
    width: 20px;
    height: 20px;
  }
  .address{
    font-size: 18px;
  }
  .street{
    font-size: 16px;
  }
  .hours{
    font-size: 18px;
  }
  .day{
    font-size: 16px;
  }
}
@media (max-width:420px){
  .info_block{
    flex-direction: column;
  }
}