.container{
    margin: 10px;
 
    box-sizing: border-box;

}
.text{
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: black;
    
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));}
